@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: peachpuff;
    color: white;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Oxygen', sans-serif;
}
nav ul{
    list-style-type:None;
}
.gamecontainer{

    /* background: pink; */
    display: flex;
    justify-content: center;
    margin-top: 45px;

}

.container{

    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Oxygen', sans-serif;
}

.box{
    border: 2px solid grey;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{

    background-color: rgb(245, 236, 221) ;
    
}
.info{
    font-size: 20px;
}
.gameinfo{
    padding: 0 34px;
    font-family: 'Oxygen', sans-serif;

}

.gameinfo h1{
    font-size: 2.5rem;
    
}

.imgbox img{
    width: 0;
    transition: 1s ease-in-out;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

#reset {
    margin: 0 23px;
    padding: 3px 10px;
    background-color: grey;
    border-radius: 4px;
    cursor: pointer; 
    font-size: 14px;
    font-weight: bolder;
}
/* .line{
    background-color: black;
    width: 30vw;
    height: 3px;
    position: relative;
} */

@media screen and ( max-width:800px)

{
    .gamecontainer{
        flex-wrap: wrap;
    }

    .gameinfo{
        margin-top: 35px;
    }
    .gameinfo h1{
        font-size: 1.5rem;
    }
    .container{
        display: grid;
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
        font-family: 'Oxygen', sans-serif;

    }
}